route:
  receiver: 'discord'
  group_by: ['alertname']

receivers:
  - name: 'discord'
    discord_configs:
      - webhook_url: '{{ discord_webhook }}'
        title: '{% raw %}[{{ .Status | toUpper }}] {{ .GroupLabels.alertname }}{% endraw %}'
        message: '{% raw %}A server is offline! IP Address: {{ .CommonLabels.instance }}{% endraw %}'