global
    log /dev/log local0
    maxconn 2000
    user haproxy
    group haproxy

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend http_front
    bind *:80
    
    {% if ssl_cert_file.stat.exists %}
    # Only load HTTPS if the certificate file actually exists!
    bind *:443 ssl crt /etc/haproxy/certs/{{ ansible_host }}.nip.io.pem
    redirect scheme https code 301 if !{ ssl_fc }
    {% endif %}
    
    default_backend web_servers

backend web_servers
    balance roundrobin
    {% for host in groups['webservers'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:80 check
    {% endfor %}

